<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="button-container">
    <ion-button expand="block" routerLink="/cursos-lista" class="custom-button">Lista de Cursos</ion-button>
    <ion-button expand="block" routerLink="/cursos-qr" class="custom-button">Generar QR</ion-button>
    <ion-button expand="block" routerLink="/cursos-informe" class="custom-button">Informes</ion-button>
  </div>
</ion-content>
