<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar" color="dark">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Informes de los cursos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="button-container">
    <ion-button expand="block" routerLink="/informe" class="custom-button">Programacion de aplicaciones de escritorio 008D</ion-button>
    <ion-button expand="block" routerLink="/informe" class="custom-button">Programacion de aplicaciones moviles 008D</ion-button>
    <ion-button expand="block" routerLink="/informe" class="custom-button">Programacion de aplicaciones web 008D</ion-button>
  </div>
</ion-content>
