<body>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="colorlogin">RegistrAPP</ion-card-title>
    </ion-card-header>
    <br>
    <ion-card-content>
      <ion-input  [(ngModel)]="email" type="email" label="Correo" labelPlacement="floating" fill="outline">
        <ion-icon  slot="start" color="black" size="large" name="mail"></ion-icon>        
      </ion-input>
      <br>
      <ion-input [(ngModel)]="password" type="password" label="Contraseña" labelPlacement="stacked" fill="outline">
        <ion-icon slot="start" color="black" size="large" name="lock-closed"></ion-icon>
      </ion-input>
      <br>
      <ion-button (click)="validar()" size="block" color="warning">Iniciar</ion-button>
      <p class="registro">
        <a href="/register" class="enlace-recuperacion">no tienes una cuenta? Registrate</a>
      </p>
      <p class="registro">
        <a href="/env-correo" class="enlace-recuperacion">¿Olvidaste tu contraseña?</a>
      </p>
    </ion-card-content>
  </ion-card>
</body>