<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agregar Contacto weko</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-list>
      <ion-item> <ion-input label="Nombre" placeholder="ingrese nombre" [(ngModel)]="nombre"></ion-input></ion-item>
      <ion-item> <ion-input label="Apellido" placeholder="ingrese apellido" [(ngModel)]="apellido"></ion-input></ion-item>
      <ion-item> <ion-input label="Direccion" placeholder="ingrese direccion" [(ngModel)]="direccion"></ion-input></ion-item>
      <ion-item> <ion-input label="Telefono" placeholder="ingrese telefono" [(ngModel)]="telefono"></ion-input></ion-item>
      <ion-item> <ion-button (click)="grabar()">Grabar</ion-button>  </ion-item>
    </ion-list>
  </div>
  
</ion-content>
<ion-footer>
  <app-pie></app-pie>
</ion-footer>