<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>confirm_code</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-input  [(ngModel)]="codigo" label="ingresa tu codigo" labelPlacement="floating" fill="outline"></ion-input>
      <ion-input  [(ngModel)]="password" type="password" label="Nueva contraseña" labelPlacement="floating" fill="outline"></ion-input>
      <ion-input  [(ngModel)]="password2" type="password" label="Repite contraseña" labelPlacement="floating" fill="outline"></ion-input>
      <ion-button (click)="EnviarCodigo()" size="block" color="warning">Cambiar contraseña</ion-button>
      <ion-button (click)="goBack()" size="block" color="warning">volver</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
