<h1>Asistencia por Materia</h1>

<table>
    <thead>
        <tr>
            <th>Alumno</th>
            <th>Materia</th>
            <th>Fecha</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let student of students">
            <ng-container *ngFor="let materia of student.materias">
                <ng-container *ngFor="let asistencia of materia.asistencias">
                    <tr>
                        <td>{{ student.nombre }} {{ student.apellido }}</td>
                        <td>{{ materia.nombre }}</td>
                        <td>{{ asistencia.fecha }}</td>
                        <td>{{ asistencia.presente ? 'Presente' : 'Ausente' }}</td>
                    </tr>
                </ng-container>
            </ng-container>
        </ng-container>
    </tbody>
</table>
