<ion-header>
  <ion-toolbar>
    <ion-title>Asistencias por Materia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let materia of materias">
      <h3>{{ materia.nombre }}</h3>
      <ion-list *ngIf="materia.asistencias && materia.asistencias.length > 0">
        <ion-item *ngFor="let asistencia of materia.asistencias">
          materia : {{materia.nombre}}
          Asistencias: {{ getAttendanceCount(asistencia.alumno_id) }} - 
          Porcentaje de Asistencia: {{ getAttendancePercentage(materia.asistencias) }}%
        </ion-item>
      </ion-list>
      <p *ngIf="materia.asistencias && materia.asistencias.length === 0">
        No hay asistencias registradas.
      </p>
    </ion-item>
  </ion-list>
</ion-content>
