<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>materia-alumn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">materia-alumn</ion-title>
      <h2>Matematicas: ??%</h2> 
      <h2>Ciencias Naturales: ??% </h2> 
      <h2>Historia:  ??%</h2> 
      <h2>Lenguaje:  ??%</h2> 
      <h2>Educación Fisica:  ??%</h2> 
      <h2>Ingles:  ??%</h2> 
    </ion-toolbar>
  </ion-header>
</ion-content>
