<ion-header [translucent]="true"> 
  <ion-toolbar class="custom-toolbar" color="dark">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>QR profesor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <h2>Tiempo restante: {{ tiempoRestante }} segundos</h2>
  </div>
  
  <qr-code 
    [value]="valorQR" 
    size="400" 
    errorCorrectionLevel="M">
  </qr-code>

  <div style="display: none;">{{ valorQR }}</div>

  <!-- Mensaje de estado -->
  <div *ngIf="mensajeEstado" class="estado-mensaje">{{ mensajeEstado }}</div>

  <!-- Botón para ir a la lista -->
  <ion-button expand="full" (click)="redirigir()" class="bottom-button">
    Ir a lista
  </ion-button>
</ion-content>
